@import "../../assets/colors/colors.scss";

.starIcon {
  color: #f5c52e;
}
.thumbsupIcon {
  color: white;
}
.runtimeIcon {
  color: rgb(150, 144, 144);
}
.calenderIcon {
  color: #ffe5b4;
}
.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: $font-primary;
  font-weight: 400;
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: $font-secondary;
  display: flex;
  span {
    margin-right: 20px;
    .icon {
      margin-left: 5px;
    }
  }
}

.movie-title {
  font-size: 40px;
  color: $font-primary;
}
.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
}

.movie-info > div span:first-child {
  padding: 10px 0px;
  color: $font-primary;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: $font-secondary;
}

.section-right {
  margin-left: 30px;
}

@media (max-width: 1080px) {
  .movie-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-right {
    margin: 0 auto;
  }
  .movie-rating {
    padding-left: 2px;
    margin-top: 20px;
    color: $font-secondary;
    display: flex;
    span {
      font-size: 12px;
      margin-right: 8px;
      .icon {
        margin-left: 2px;
      }
    }
  }
}
