@import "../colors/colors.scss";
.loader-container {
  height: 100vh;
  width: full;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;

  animation: pulse;
  animation-fill-mode: both;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  img {
    border-radius: 50%;
  }
  h3 {
    margin-top: 20px;
    color: $font-primary;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
