* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./assets/colors/colors.scss";

.link {
  text-decoration: none;
  color: white;
}

body {
  background: $primary-color;
}
.container {
  padding-top: 60px;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}
@media (max-width: 1100px) {
  .container {
    padding: 20px 40px;
  }
}
